.video {
	width: 100%;
	border: 3px solid rgba(167, 141, 79, 1) !important;
	border-radius: 5px !important;
	height: calc(100vh - 11.5rem);
	/* aspect-ratio: 16 / 9; */
}
.videoCont {
	padding-right: 1rem !important;
}
