.card {
	margin-left: 20px !important;
	margin-top: 20px !important;
	border: 2px solid rgb(255, 255, 255) !important;
	border-radius: 10px !important;
	width: 100% !important;
	height: 100% !important;
}

.video {
	width: 100%;
	aspect-ratio: 16 / 9;
}
.videoCont {
}
