@import "react-notifications-component/dist/theme.css";
@import "react-virtualized/styles.css";
@import "semantic-ui-css/semantic.min.css";
@import "./reset.css";
@import "./default.css";

/* Semantic UI Changes*/

/* .ui.menu .item:before {
	background: none !important;
}

.ui.vertical.menu .item:before {
	background: none !important;
	height: none !important;
}

.ui.input > input {
	line-height: 1.25;
	padding: 0.3125rem 0.25rem;
	border-radius: 0.25rem;
	max-height: 2rem;
} */
/* 
.ui.action.input > .button,
.ui.action.input > .buttons > .button {
	padding: 0.25rem 0.5rem;
	font-size: 0.9rem;
} */

/* .ui.divider {
	margin: 0.75rem;
}

.ui.form .field > label {
	font-size: 1rem;
	font-weight: 600;
	color: var(--black);
	margin: 0 0 0.25rem 0;
}

.ui.multiple.search.dropdown {
	cursor: text;
	border: 1px solid var(--gray150);
	border-radius: 0.25rem;
	background: var(--white);
	padding: 0.25rem 1rem 0.25rem 0.25rem;
}

.ui.selection.dropdown {
	padding: 0.4375rem 2rem 0.4375rem 1rem;
	min-height: 0;
}

.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon,
.ui.selection.dropdown > .search.icon {
	line-height: 0.6;
}

.ui.action.input:not([class*="left action"]) > input {
	border-top-right-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
	border-right-color: hsla(210, 6%, 14%, 0.15) !important;
}

.ui.accordion .title:not(.ui) {
	padding: 0;
	font-weight: 700;
}

.ui.menu {
	min-height: 0;
}

.ui.grid {
	margin: 0 !important;
}

.ui.checkbox .box,
.ui.checkbox label {
	padding-left: 1.5rem;
}

aside.emoji-picker-react {
	background: var(--white);
	display: flex;
	flex-direction: column;
	height: 320px;
	width: 100%;
	font-family: sans-serif;
	border: 1px solid var(--gray50);
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 5px 10px var(--gray50);
	overflow: hidden;
	position: relative;
}

.ui.multiple.dropdown .menu {
	cursor: auto;
	width: 100% !important;
}

.ui.form .disabled.field,
.ui.form .disabled.fields .field,
.ui.form .field :disabled {
	opacity: 1 !important;
}

.ui.form .field.disabled > label,
.ui.form .fields.disabled > label {
	opacity: 0.8 !important;
}

.ui.disabled.input,
.ui.input:not(.disabled) input[disabled] {
	opacity: 0.8 !important;
}

.ui.basic.red.label {
	border: 1px solid #e0b4b4 !important;
	color: hsl(1, 48%, 42%) !important;
}

.ui.multiple.dropdown .menu {
	cursor: auto;
	width: 100% !important;
}

.ui.form .disabled.field,
.ui.form .disabled.fields .field,
.ui.form .field :disabled {
	opacity: 1 !important;
}

.ui.form .field.disabled > label,
.ui.form .fields.disabled > label {
	opacity: 0.8 !important;
}

.ui.disabled.input,
.ui.input:not(.disabled) input[disabled] {
	opacity: 0.8 !important;
}

.ui.basic.red.label {
	border: 1px solid hsl(0, 42%, 79%) !important;
	color: hsl(1, 48%, 42%) !important;
}

.ui.multiple.dropdown .menu {
	cursor: auto;
	width: 100% !important;
}

.ui.form .disabled.field,
.ui.form .disabled.fields .field,
.ui.form .field :disabled {
	opacity: 1 !important;
}

.ui.form .field.disabled > label,
.ui.form .fields.disabled > label {
	opacity: 0.8 !important;
}

.ui.disabled.input,
.ui.input:not(.disabled) input[disabled] {
	opacity: 0.8 !important;
}

.ui.basic.red.label {
	border: 1px solid #e0b4b4 !important;
	color: #9f3a38 !important;
}

.ui.modal > .content {
	display: block;
	width: 100%;
	font-size: 1em;
	line-height: 1.4;
	padding: 0.9rem 1.5rem;
	background: var(--white);
}

.ui.button {
	margin: 0;
	padding: 0.5rem 1.5rem;
}

i.icon {
	margin: 0;
}

.ui.multiple.search.dropdown > input.search {
	margin: 0;
}

.ui.multiple.search.dropdown > .text {
	margin: 0;
}

.ui.multiple.dropdown > .label {
	margin: 0 0.25rem 0 0;
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
}

.ui.dropdown > .dropdown.icon {
	margin: 0;
}

.ui.dropdown .menu > .item {
	padding: 0.5rem 0.75rem !important;
	font-size: 0.875rem;
}

.ui.dropdown .menu > .item > .flag,
.ui.dropdown .menu > .item > .icon,
.ui.dropdown .menu > .item > .image,
.ui.dropdown .menu > .item > .label,
.ui.dropdown .menu > .item > img,
.ui.dropdown > .text > .flag,
.ui.dropdown > .text > .icon,
.ui.dropdown > .text > .image,
.ui.dropdown > .text > .label,
.ui.dropdown > .text > img {
	padding: 0.25rem 0.5rem;
	margin-right: 0.5rem;
	font-size: 0.75rem;
}

.ui.button:not(.icon) > .icon:not(.button):not(.dropdown) {
	margin: 0;
}

.ui.button > .icon:not(.button) {
	margin: 0;
} */
