.image {
	min-width: 5rem;
	height: 4.6rem;
	padding: 0;

	margin: 0;
}
.imgItems {
	min-width: 4rem;
	height: 4rem;
	padding: 0;
	margin: 0;
}
.card {
	margin-left: 20px !important;
	margin-top: 20px !important;
	border: 2px solid rgb(255, 255, 255) !important;
	border-radius: 10px !important;
}
.contCenter {
	display: flex;
	justify-content: center;
}
.contCenterImg {
	display: flex;
	align-items: center;
}
.titleText {
	font-weight: 600;
	color: #3e1399;
}
.subTitleText {
	font-size: 16px;
	font-weight: 600;
}
.cardHeader {
	color: #3e1399 !important;
}
